<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button shape="round" (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Informations du profil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="login-box">
        <div class="photo-personne">
            <ion-avatar class="profile-photo">
                <img [src]="">
            </ion-avatar>
        </div>
        <form class="form" [formGroup]="validationsForm" (ngSubmit)="majProfil(validationsForm.value)">
            <ion-list lines="full" class="ion-no-margin ion-no-padding">
                <div class="informations">
                    <ion-label id="nom">{{membre.nom}} {{membre.prenom}}</ion-label>
                    <br/>
                    <ion-label id="numLicence">Licence : {{membre.numLicence}}</ion-label>
                    <br/>
                    <ion-label id="etatInscriptionLabel">Profil : {{membre.etatInscription}}</ion-label>
                    <ion-input hidden formControlName="etatInscription"
                               [(ngModel)]="membre.etatInscription"></ion-input>
                    <ion-item [hidden]="edititionDesactivee">
                        <ion-label id="statut">Rôle :</ion-label>
                        <ion-select required type="text" ok-text="OK" cancel-text="Retour" [(ngModel)]="membre.role"
                                    [disabled]="statutModifiable" formControlName="role"
                                    (ngModelChange)="changerStatut()">
                            <ion-select-option value="ROLE_ADHERENT">Membre</ion-select-option>
                            <ion-select-option value="ROLE_ENSEIGNANT">Enseignant</ion-select-option>
                            <ion-select-option disabled="true" value="ROLE_PRESIDENT">Président</ion-select-option>
                            <ion-select-option disabled="true" value="ROLE_SECRETAIRE">Secrétaire</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-label id="ville">Ville : {{membre.villeResidence}}</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label id="pays">Pays : {{membre.paysResidence}}</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Date du certificat :</ion-label>
                        <ion-datetime displayFormat="D MMMM YYYY"
                                      monthNames='Janvier, Février, Mars, Avril, Mai, Juin, Juillet, Août, Septembre, Octobre, Novembre, Décembre'
                                      doneText="OK"
                                      cancelText="Annuler" [(ngModel)]="membre.dateCertificat"
                                      placeholder="Sélectionner la date"
                                      formControlName="dateCertificat" [disabled]="edititionDesactivee"></ion-datetime>
                    </ion-item>
                    <ion-item>
                        <ion-label id="etatPaiement">Etat paiement :</ion-label>
                        <ion-select required type="text" ok-text="OK" cancel-text="Retour"
                                    [(ngModel)]="membre.etatPaiement" (ngModelChange)="majEtatInscription($event)"
                                    formControlName="etatPaiement" [disabled]="edititionDesactivee">
                            <ion-select-option value="EN_REGLE">En règle</ion-select-option>
                            <ion-select-option value="EN_RETARD_DE_PAIEMENT">En retard de paiement</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-label id="aptitude">Aptitude :</ion-label>
                        <ion-select required type="text" ok-text="OK" cancel-text="Retour"
                                    [(ngModel)]="membre.etatAptitude" (ngModelChange)="majEtatInscription($event)"
                                    formControlName="etatAptitude" [disabled]="edititionDesactivee">
                            <ion-select-option value="APTE">Apte</ion-select-option>
                            <ion-select-option value="NON_APTE">Non apte</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-label id="niveauPlonge">Niveau de plongée :</ion-label>
                        <ion-select required type="number" ok-text="OK" cancel-text="Retour"
                                    [(ngModel)]="membre.niveauPlonge" formControlName="niveauPlonge"
                                    [disabled]="edititionDesactivee">
                            <ion-select-option [value]="1">1</ion-select-option>
                            <ion-select-option [value]="2">2</ion-select-option>
                            <ion-select-option [value]="3">3</ion-select-option>
                            <ion-select-option [value]="4">4</ion-select-option>
                            <ion-select-option [value]="5">5</ion-select-option>
                        </ion-select>
                    </ion-item>
                </div>
                <div class="ion-padding">
                    <ion-button expand="block" class="ion-no-margin" type="submit" [hidden]="edititionDesactivee">
                        Sauvegarder les modifications
                    </ion-button>
                </div>
            </ion-list>
            <label class="error-message">{{errorMessage}}</label>

        </form>
    </div>
</ion-content>
