<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button shape="round" (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Informations du cours</ion-title>
        <ion-buttons slot="end">
            <ion-button shape="round" (click)="logOut()">
                <ion-icon name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="info-box">
        <div class="informations">
            <ion-label id="nom">{{cours.nom}}</ion-label>
            <br/>
            <br/>
            <ion-label id="date">{{cours.date}}</ion-label>
            <br/>
            <br/>
            <ion-label id="date">Niveau cible : {{cours.niveauCible}}</ion-label>
            <br/>
            <br/>
            <ion-label id="date">Créneau : {{cours.creneau}}</ion-label>
            <br/>
            <br/>
            <ion-button id="button" (click)="inscriptionCours()" [disabled]="disabled">{{button_info}}
                <ion-ripple-effect type="bounded"></ion-ripple-effect>
            </ion-button>

            <ion-label id="error">{{error_message}}</ion-label>
        </div>
    </div>
</ion-content>
