<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Liste des cours disponibles</ion-title>
        <ion-buttons slot="end">
            <ion-button shape="round" (click)="logOut()">
                <ion-icon name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="liste-cours">
        <ion-list>
            <ion-item *ngFor="let cours of listeCours">
                <ion-label>{{cours.idCours}}</ion-label>
                <ion-label>{{cours.nom}}</ion-label>
                <ion-button (click)="navigateToInfoCours(cours.idCours)" shape="round">
                    <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-list>
    </div>

</ion-content>
